{% extends 'base.html.twig' %}

{% block title %}Edit Participantes{% endblock %}

{% block body %}
    <h1>Edit Participantes</h1>

    {{ include('participantes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participantes_index') }}">back to list</a>

    {{ include('participantes/_delete_form.html.twig') }}
{% endblock %}
