{% extends 'base.html.twig' %}

{% block title %}New Participantes{% endblock %}

{% block body %}
    <h1>Create new Participantes</h1>

    {{ include('participantes/_form.html.twig') }}

    <a href="{{ path('participantes_index') }}">back to list</a>
{% endblock %}
