{% extends 'base.html.twig' %}

{% block title %}Participantes{% endblock %}

{% block body %}
    <h1>Crear participantes</h1>

    {{ include('participantes/_form.html.twig') }}

    <a href="{{ path('participantes_index') }}">Lista de participantes</a>
{% endblock %}
