{% extends 'base.html.twig' %}

{% block title %}Torneos{% endblock %}

{% block body %}
    <h1>Crear nuevo Torneo</h1>

    {{ include('torneos/_form.html.twig') }}

    <a href="{{ path('torneos_index') }}">Listado de torneos</a>
{% endblock %}
